[Desktop Entry]
Type=Application
Name=Citizen Launcher Migration
Exec=/usr/bin/citizen-launcher migrate-user
NoDisplay=true
Terminal=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
